<?xml version="1.0"?>
<model>
  <name>tanque_oco</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Matheus (Teteu)</name>
    <email>matheusts@furg.br</email>
  </author>

  <description>
    Tanque de testes oco (sem a face superior) para simulação de mergulho híbrido e pressão virtual na Hydrone.
  </description>
</model>